@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  /* OTHER CUSTOM VARIABLE */
  --background: transparent;
  --font-size: 16px;
  --duration: 0.44s;
  --move-hover: -4px;
  --shadow-hover: 0 4px 20px -2px rgba(39, 94, 254, 0.5);
  --font-shadow: var(--font-size);
  /* END OTHER CUSTOM VARIABLE */

  /* PRIMARY COLOR */
  --tw-color-primary-50: 240 249 255;
  --tw-color-primary-100: 224 242 254;
  --tw-color-primary-200: 186 230 253;
  --tw-color-primary-300: 125 211 252;
  --tw-color-primary-400: 56 189 248;
  --tw-color-primary-500: 14 165 233;
  --tw-color-primary-600: 2 132 199;
  --tw-color-primary-700: 3 105 161;
  --tw-color-primary-800: 7 89 133;
  --tw-color-primary-900: 12 74 110;
  --color-primary-50: rgb(var(--tw-color-primary-50)); /* #f0f9ff */
  --color-primary-100: rgb(var(--tw-color-primary-100)); /* #e0f2fe */
  --color-primary-200: rgb(var(--tw-color-primary-200)); /* #bae6fd */
  --color-primary-300: rgb(var(--tw-color-primary-300)); /* #7dd3fc */
  --color-primary-400: rgb(var(--tw-color-primary-400)); /* #38bdf8 */
  --color-primary-500: rgb(var(--tw-color-primary-500)); /* #0ea5e9 */
  --color-primary-600: rgb(var(--tw-color-primary-600)); /* #0284c7 */
  --color-primary-700: rgb(var(--tw-color-primary-700)); /* #0369a1 */
  --color-primary-800: rgb(var(--tw-color-primary-800)); /* #075985 */
  --color-primary-900: rgb(var(--tw-color-primary-900)); /* #0c4a6e */
  /* END PRIMARY COLOR */
}

/* TYPOGRAPY */
.h0 {
  @apply font-primary text-3xl font-bold transition-all delay-100 duration-200 ease-in-out md:text-5xl;
}

h1,
.h1 {
  @apply font-primary text-2xl font-bold transition-all delay-100 duration-200 ease-in-out md:text-4xl;
}

h2,
.h2 {
  @apply font-primary text-xl font-bold transition-all delay-100 duration-200 ease-in-out md:text-3xl;
}

h3,
.h3 {
  @apply font-primary text-lg font-bold transition-all delay-100 duration-200 ease-in-out md:text-2xl;
}

h4,
.h4 {
  @apply font-primary text-base font-bold transition-all delay-100 duration-200 ease-in-out md:text-lg;
}

*,
body {
  font-family: 'Space Grotesk' !important;
}

body,
.p {
  @apply font-primary text-sm transition-all delay-100 duration-200 ease-in-out md:text-base;
}
/* END TYPOGRAPY */

/* OTHER GLOBAL STYLE */
@media screen and (max-width: 768px) {
  *,
  button > * {
    cursor: auto !important;
  }
}
.light ::selection {
  background-color: #000000;
  color: #ffffff;
}
.dark ::selection {
  background-color: #ffffff;
  color: #000000;
}

.layout {
  max-width: 68.75rem;
  @apply mx-auto w-11/12;
}

.dark a.custom-link {
  @apply border-gray-200 hover:border-gray-200/0;
}

.min-h-main {
  @apply min-h-[calc(100vh-56px)];
}

@layer components {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
/* END OTHER GLOBAL STYLE */

/* PROGRESS BAR LOADING ANIMATION */
#nprogress {
  @apply top-0 bg-white bg-opacity-10;
}

#nprogress .bar {
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #805ad5;
  visibility: visible;
}

#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #805ad5, 0 0 5px #805ad5;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}

#nprogress .spinner {
  @apply absolute top-1/2 left-1/2 h-full w-full -translate-x-1/2 -translate-y-1/2 transform flex-col items-center justify-center bg-black text-center opacity-30;
}

#nprogress .spinner-icon {
  visibility: hidden;
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #805ad5;
  border-left-color: #805ad5;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* END PROGRESS BAR LOADING ANIMATION */

/* CUSTOM STYLE FOR MDX CONTENT */
#mdx a {
  color: #7048e8 !important;
}

#mdx h2 {
  color: #7048e8 !important;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
  margin: 0.5rem 0 1rem 0;
}

#mdx p {
  text-align: justify;
}

.dark #mdx a {
  color: #fbd38d !important;
}

#mdx code {
  @apply my-5 rounded-md;
}

.dark #mdx h2 {
  color: #fbd38d !important;
  font-size: 1.25rem;
  text-align: left;
  width: 100%;
}

.dark blockquote {
  border-left: 0.25rem solid #fbd38d;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background: #333539c6;
}

blockquote > {
  border-left: 0.25rem solid #7048e8;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  background: #f3f4f68c;
}

#mdx code {
  font-family: 'Fira Code', monospace !important;
}
/* END CUSTOM STYLE FOR MDX CONTENT */

/* SPLASHSCREEN LOADING */
.example {
  border: none;
  margin: 0 auto;
  height: min-content;
  padding: 4%;
  @apply stroke-[#111111] dark:stroke-white;
}
/* END SPLASHSCREEN LOADING */

/* ROLL TEXT ANIMATION */
.rollButton {
  font-weight: 500;
  line-height: var(--font-size);
  border-radius: 24px;
  display: block;
  outline: none;
  text-decoration: none;
  font-size: var(--font-size);
  letter-spacing: 0.5px;
  background: var(--background);
  box-shadow: var(--shadow);
  transform: translateY(var(--y)) translateZ(0);
  transition: transform var(--duration) ease, box-shadow var(--duration) ease;
  @apply text-dark dark:text-white;
}

.rollButton div {
  display: flex;
  overflow: hidden;
  text-shadow: 0 16px 0;
}

.rollButton div span {
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  font-style: normal;
  transition: transform var(--duration) ease;
  transform: translateY(var(--m)) translateZ(0);
}

.rollButton div span:nth-child(1) {
  transition-delay: 0.05s;
}

.rollButton div span:nth-child(2) {
  transition-delay: 0.1s;
}

.rollButton div span:nth-child(3) {
  transition-delay: 0.15s;
}

.rollButton div span:nth-child(4) {
  transition-delay: 0.2s;
}

.rollButton div span:nth-child(5) {
  transition-delay: 0.25s;
}

.rollButton div span:nth-child(6) {
  transition-delay: 0.3s;
}

.rollButton div span:nth-child(7) {
  transition-delay: 0.35s;
}

.rollButton div span:nth-child(8) {
  transition-delay: 0.4s;
}

.rollButton div span:nth-child(9) {
  transition-delay: 0.45s;
}

.rollButton div span:nth-child(10) {
  transition-delay: 0.5s;
}

.rollButton div span:nth-child(11) {
  transition-delay: 0.55s;
}

.rollButton:hover {
  --y: var(--move-hover);
}

.rollButton:hover span {
  --m: calc(var(--font-size) * -1);
}
/* END ROLL TEXT ANIMATION  */

/* CUSTOM CURSOR */
.cursor-class {
  position: fixed;
  top: 0;
  left: 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transform-origin: center;
  transition: transform 600ms cubic-bezier(0.19, 1, 0.22, 1);
  mix-blend-mode: difference;
  @apply border border-black dark:border-white;
}

.cursor-class.pointer {
  background-color: #fff;
  border: 0;
  mix-blend-mode: difference;
}
/* END CUSTOM CURSOR */

/* NOISE BACKGROUND ANIMATION */
.noise-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  pointer-events: none;
  opacity: 0.026;
  z-index: 9999;
}
.noise-animate {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('/images/noise.gif');
}
/* END NOISE BACKGROUND ANIMATION */
